<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="swarm_robot">

<xacro:property name="ns" value="$(arg ns)/" />
<!-- scale是放缩系数, 原来尺寸为0.8 * 0.4 -->
<xacro:property name="scale" value = "0.1" />

<material name="yellow">
    <color rgba="1 0.4 0 1"/>
</material>
<material name="white">
    <color rgba="1 1 1 0.9"/>
</material>
<material name="black">
    <color rgba="0 0 0 0.95"/>
</material>

<link name="${ns}base_link">
    <visual>
        <origin xyz=" 0 0 ${scale * 0.25}" rpy="0 0 0" />
        <geometry>
            <cylinder length="${scale * 0.4}" radius="${scale * 0.4}"/>
        </geometry>
        <material name="yellow" />
    </visual>
</link>

<xacro:macro name="wheel"   params="prefix radius length yy zz" >
    <link name="${ns}${prefix}_wheel_link">
        <visual>
            <origin xyz="0 0 ${scale * zz / 2}" rpy="1.5707 0 0" />
            <geometry>
                <cylinder radius="${scale * radius}"   length="${scale * length}" />
            </geometry>
            <material name="white" />
        </visual>
    </link>
    <joint name="${prefix}_wheel_joint" type="fixed">
        <origin xyz="0 ${scale * yy} ${scale * zz}" rpy="0 0 0"/>
        <parent link="${ns}base_link"/>
        <child link="${ns}${prefix}_wheel_link"/>
    </joint>
</xacro:macro>

<xacro:wheel prefix="right" radius="0.1" length="0.05"  yy="0.4" zz="0.05" />
<xacro:wheel prefix="left" radius="0.1" length="0.05"  yy="-0.4" zz="0.05" />


<xacro:macro name="caster" params="prefix radius x z" >
    <link name="${ns}${prefix}_caster_link">
        <visual>
            <geometry>
                <sphere radius="${scale * radius}" />
            </geometry>
            <material name="black" />
        </visual>
    </link>
    <joint name="${prefix}_caster_joint" type="fixed">
        <origin xyz="${scale * x} 0 ${scale * z}" rpy="0 0 0"/>
        <parent link="${ns}base_link"/>
        <child link="${ns}${prefix}_caster_link"/>
    </joint>
</xacro:macro>

<xacro:caster prefix="front" radius="0.05" x= "0.3" z="0.05" />
<xacro:caster prefix="back" radius="0.05" x= "-0.3" z="0.05" />

<link name="${ns}laser_link">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 1.5708"/>
        <geometry>
            <cylinder length="${scale * 0.08}" radius="${scale * 0.08}"/>
        </geometry>
        <material name="black" />
    </visual>

</link>
<joint name="laser_joint" type="fixed">
    <origin xyz="${scale * 0.25} 0 ${scale * 0.49}" rpy="0 0 0"/>
    <parent link="${ns}base_link"/>
    <child link="${ns}laser_link"/>
</joint>

</robot>